
  <div class="mb-5 bg-leftSide">
    <div>
      <a routerLink="/profil" class="link-primary">
        <i class="fa-solid fa-user me-2"></i> My Account</a>
    </div>
    <hr class="color-white">
    <div>
      <a routerLink="/profil/orders" class="link-primary">
        <i class="fa-solid fa-cart-shopping me-2"></i> Orders</a>
    </div>
    <hr>
    <div>
      <a routerLink="/profil/password" class="link-primary">
        <i class="fa-solid fa-lock me-2"></i> Change Password</a>
    </div>
    <hr>
    <div>
      <a routerLink="/user/logout" class="link-primary">
        <i class="fa-solid fa-right-from-bracket me-2"></i> Logout</a>
    </div>

  </div>

