<section class="mb-5">
  <div class="container">
     <div class="row">
        <div class="col-xxl-4 col-md-4">
           <app-leftmenu></app-leftmenu>
        </div>
        <div class="col-xxl-8 col-md-8">
           <!-- DEBUT -->



           <div>
              <div class="d-flex justify-content-between align-items-center titleBanner">
                <h3>
                  Profile Information
                </h3>
                <button class="buttonEditProfil" type="button">
                  <i class="fa-solid fa-file-pen"></i> EDITE PROFILE
                </button>
                <button class="buttonSaveProfil" type="button">
                  <i class="fa-solid fa-square-check"></i> SAVE
                </button>
              </div>
              <div>
                <div>
                  <h4>Shahnewaz Sakil</h4>
                  <p>Name</p>
                </div>
                <div>
                  <h4>info@eduker.com</h4>
                  <p>Email</p>
                </div>
                <div>
                  <h4>(325) 463-5693</h4>
                  <p>Phone</p>
                </div>
                <div>
                  <h4>Abingdon, Maryland(MD), 21009</h4>
                  <p>Address</p>
                </div>
              </div>
          </div>







          <!-- FIN -->
        </div>
     </div>
  </div>
</section>
